* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
.contenedor {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "header  header"
    "menu    contenido";
}
.contenedor.active {
  grid-template-columns: 300px auto;
}

.header {
  grid-area: header;
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
  grid-gap: 20px;
  grid-template-areas: "logo busqueda iconos";
}
.contenedor-logo {
  grid-area: logo;
  display: flex;
  align-items: center;
}
.contenedor-logo .boton-menu {
  border: none;
  padding: 10px;
  background: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.contenedor-logo .boton-menu:hover {
  background: gray;
}
.contenedor-logo .logo .fas {
  background: red;
  padding: 7px 12px;
  border-radius: 4px;
  font-size: 8px;
  color: white;
  position: relative;
  top: -4px;
  margin-right: 4px;
}
.contenedor-logo .logo {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  position: relative;
  top: 2px;
}

.header .barra-busqueda {
  grid-area: busqueda;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .barra-busqueda input {
  min-width: 60%;
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
  border: 1px solid gray;
  font-size: 16px;
  font-family: "Open Sans";
}
.header .barra-busqueda button {
  height: 35px;
  border: 1px solid gray;
  border-left: none;
  color: black;
  background: whitesmoke;
  padding: 0 25px;
  cursor: pointer;
}
.header .botones-header {
  grid-area: iconos;
  display: flex;
  align-items: center;
}
.header .botones-header button {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 18px;
  padding: 7px 12px;
  border-radius: 100px;
  color: gray;
  margin-right: 20px;
  cursor: pointer;
}
.header .botones-header .avatar {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.header .botones-header .avatar img {
  vertical-align: top;
  width: 100%;
  border-radius: 100px;
}
.menu-lateral {
  grid-area: menu;
  background-color: white;
  overflow: hidden;
}

.menu-lateral a {
  display: block;
  padding: 15px 35px;
  color: black;
  min-width: 800px;
}
.menu-lateral a:hover {
  background: whitesmoke;
}

.menu-lateral a.active {
  background: whitesmoke;
  font-weight: bold;
}
.menu-lateral .fas {
  color: grey;
  margin-right: 36px;
  width: 20px;
  text-align: center;
}
.fa {
  color: grey;
  margin-right: 36px;
  width: 20px;
  text-align: center;
}
.menu-lateral a.active .fas {
  color: red;
}

.menu-lateral hr {
  margin: 20px 0;
  border: 1px solid whitesmoke;
}
input[type="radio"] {
  display: none;
}

.container-category label {
  flex: 0 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  background: #f0f0f0;
  border: 1px solid #dbdbdb;
  text-transform: capitalize;
  margin-right: 10px;
  color: #242424;
  font-size: 15px;
  cursor: pointer;
}
.menu .filters {
  position: fixed;
  left: 250px;
  top: 20px;
  width: calc(100% - 250px);
  height: 100px;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 30px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filter-options {
  flex: 0 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  background: #f0f0f0;
  border: 1px solid #dbdbdb;
  text-transform: capitalize;
  margin-right: 10px;
  color: #242424;
  font-size: 15px;
  cursor: pointer;
}

.filter-options .active {
  color: #fff;
  background: #242424;
}
h3 {
  margin-top: 8px;
  margin-bottom: 5px;
}
.main {
  grid-area: contenido;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.main .titulo {
  margin-bottom: 20px;
}
.main .grid-videos {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(4, 1fr);
}
.main .grid-videos .video img {
  width: 100%;
  display: block;
}

.main .grid-videos .video video {
  width: 100%;
}
[value="TODOS"]:checked ~ .posts .post[data-category] {
  display: block;
}

[value="REACT"]:checked ~ .posts .post:not([data-category~="REACT"]),
[value="JAVASCRIPT"]:checked ~ .posts .post:not([data-category~="JAVASCRIPT"]),
[value="BOOTSTRAP"]:checked ~ .posts .post:not([data-category~="BOOTSTRAP"]),
[value="NODE"]:checked ~ .posts .post:not([data-category~="NODE"]),
[value="HTML"]:checked ~ .posts .post:not([data-category~="HTML"]),
[value="CSS"]:checked ~ .posts .post:not([data-category~="CSS"]),
[value="MYSQL"]:checked ~ .posts .post:not([data-category~="MYSQL"]) {
  display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="REACT"]:checked ~ .container-category [for="REACT"],
[value="JAVASCRIPT"]:checked ~ .container-category [for="JAVASCRIPT"],
[value="BOOTSTRAP"]:checked ~ .container-category [for="BOOTSTRAP"],
[value="NODE"]:checked ~ .container-category [for="NODE"],
[value="HTML"]:checked ~ .container-category [for="HTML"],
[value="CSS"]:checked ~ .container-category [for="CSS"],
[value="MYSQL"]:checked ~ .container-category [for="MYSQL"] {
  background: #242424;
  color: #fff;
}
